# no archives please
*.eopkg
*.tar.*
*.tgz
*.gz
# no ferryd transit manifests
*.tram
# no backup files
*~
*.vscode
*.vstags
**.kate-swp
# Go binaries
common/Go/yabi/yabi
common/Go/ypkg/ypkg-tools
common/switch_repo_domains

# Python caches
.mypy_cache
venv

# infrastructure tooling symlink or clone
infrastructure-tooling

# solus image symlink or clone
solus-image-*

