[submodule "packages/f/fwupd-efi/files/secureboot-keys"]
	path = packages/f/fwupd-efi/files/secureboot-keys
	url = git@github.com:getsolus/solus-secureboot-keys.git
[submodule "packages/l/linux-current/files/secureboot-keys"]
	path = packages/l/linux-current/files/secureboot-keys
	url = git@github.com:getsolus/solus-secureboot-keys.git
[submodule "packages/l/linux-lts/files/secureboot-keys"]
	path = packages/l/linux-lts/files/secureboot-keys
	url = git@github.com:getsolus/solus-secureboot-keys.git
[submodule "packages/s/systemd/files/secureboot-keys"]
	path = packages/s/systemd/files/secureboot-keys
	url = git@github.com:getsolus/solus-secureboot-keys.git
[submodule "packages/s/systemd/solus-secureboot-keys"]
	path = packages/s/systemd/solus-secureboot-keys
	url = git@github.com:getsolus/solus-secureboot-keys.git
