# yaml-language-server: $schema=/usr/share/ypkg/schema/schema.json
name       : python-prometheus_client
version    : 0.17.1
release    : 10
source     :
    - https://github.com/prometheus/client_python/archive/refs/tags/v0.17.1.tar.gz : efd821d1d73e1d45d4ad46c9bef38a1cc646769346db0e70c520a7ec9409e3a4
homepage   : https://github.com/prometheus/client_python
license    : Apache-2.0
component  : programming.python
summary    : Prometheus instrumentation library for Python applications
description: |
    Prometheus instrumentation library for Python applications
builddeps  :
    - python-setuptools
checkdeps  :
    - python-pytest
    - python-twisted
build      : |
    %python3_setup
install    : |
    %python3_install
check      : |
    %python3_test pytest -v
