name       : ansible
version    : 2.16.1
release    : 45
source     :
    - https://github.com/ansible/ansible/archive/refs/tags/v2.16.1.tar.gz : a6048de58bc96f77514c3607fe98b75849c72eb11e8f6c639ad050002f9a8951
license    : GPL-3.0-or-later
homepage   : https://www.ansible.com/
component  : system.utils
summary    : Ansible is a radically simple IT automation system
description: |
    Ansible is a radically simple IT automation system
builddeps  :
    - pkgconfig(python3)
    - asciidoc
    - python-docutils
    - python-jinja
rundeps    :
    - python-jinja
    - python-jmespath
    - python-paramiko
    - python-resolvelib
    - pyyaml
build      : |
    %python3_setup
install    : |
    %python3_install
