name       : ansible
version    : 2.11.3
release    : 27
source     :
    - https://github.com/ansible/ansible/archive/refs/tags/v2.11.3.tar.gz : d956913b9a61356753f0f67bcf7ecc34b15c7e5eecd6984fd350df6b29ac5f59
license    : GPL-3.0-or-later
component  : system.utils
summary    : Ansible is a radically simple IT automation system
description: |
    Ansible is a radically simple IT automation system
builddeps  :
    - pkgconfig(python3)
    - asciidoc
    - python-docutils
    - python-jinja
    - python-setuptools
rundeps    :
    - python-jinja
    - python-paramiko
    - pyyaml
build      : |
    %python3_setup
install    : |
    %python3_install
    install -Dm 00644 examples/ansible.cfg $installdir/etc/ansible/ansible.cfg
    install -Dm 00644 examples/hosts $installdir/etc/ansible/hosts
