# yaml-language-server: $schema=/usr/share/ypkg/schema/schema.json
name       : ansible
version    : 2.20.1
release    : 67
source     :
    - https://github.com/ansible/ansible/archive/refs/tags/v2.20.1.tar.gz : 88037d0bf6522e2761665b1a50f9d269d2a275d5a40764cad5af9d02896e65ad
license    : GPL-3.0-or-later
homepage   : https://www.ansible.com/
component  : system.utils
summary    : Ansible is a radically simple IT automation system
description: |
    Ansible is a radically simple IT automation system
builddeps  :
    - pkgconfig(python3)
    - asciidoc
    - python-build
    - python-docutils
    - python-installer
    - python-jinja
    - python-setuptools
    - python-wheel
rundeps    :
    - python-jinja
    - python-jmespath
    - python-paramiko
    - python-resolvelib
    - pyyaml
build      : |
    %python3_setup
install    : |
    %python3_install
