name       : ansible
version    : 2.8.4
release    : 21
source     :
    - https://github.com/ansible/ansible/archive/v2.8.4.tar.gz : 055c0a66f6f41fefaab0feb9cbc4d1ca55233c5ca12f540f7add00f748594c84
license    : GPL-3.0-or-later
component  : system.utils
summary    : Ansible is a radically simple IT automation system
description: |
    Ansible is a radically simple IT automation system
builddeps  :
    - pkgconfig(python3)
    - asciidoc
    - python-docutils
    - python-jinja
    - python-setuptools
rundeps    :
    - python-jinja
    - python-paramiko
    - pyyaml
build      : |
    %python3_setup
    %make docs
install    : |
    %python3_install
    install -d $installdir/usr/share/man/man1
    install -Dm 00644 docs/man/man1/*.1 $installdir/usr/share/man/man1/
    install -Dm 00644 examples/ansible.cfg $installdir/etc/ansible/ansible.cfg
    install -Dm 00644 examples/hosts $installdir/etc/ansible/hosts
